<div class="perent">
    <div class="left">
    
        <h1>My Webssite</h1>
        <hr>
          <h6 routerLink="/home">Home</h6>
          <h6 routerLink="welcome">Welcome</h6>
          <h6 routerLink="data-binding">Data-bilding</h6> 
          <h6 routerLink="calculator">Calcletor</h6> 
          <h6 routerLink="rectangle">Rectangular</h6>
         <h6 routerLink="circle">Circle</h6>
         <h3 routerLink="bmi">BMI</h3>
         <h3 routerLink="emi">EMI</h3>
         <h3 routerLink="temperature">Temperature</h3>
         <h3 routerLink="intrest">Intrest</h3>
         <h3 routerLink="directives">Directives</h3>
         <h3 routerLink="employee">employee</h3>
         <h3 routerLink="flipkart">flipkart</h3>
         <h3 routerLink="vehicle"> Vehicle</h3>
         <hr>
        <button id="a" routerLink="/logout">Logout</button>         
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    </div>